<div ng-controller="BooksCtrl" ng-show="authenticated">
  <div id="my-library" ng-hide="search">
    <h2>
      My library
      <button type="button" class="btn btn-default btn-sm" ng-click="searchBook()">
        <span class="glyphicon glyphicon-plus"></span> Add book
      </button>
    </h2>

    <table class="table table-condensed">
      <thead>
        <th>Title</th>
        <th>Author</th>
        <th>Published</th>
        <th></th>
      </thead>
      <tr ng-repeat="book in myBooks | orderByPriority">
        <td>{{book.item.volumeInfo.title}}</td>
        <td>{{book.item.volumeInfo.authors.join(', ')}}</td>
        <td>{{book.item.volumeInfo.publishedDate}}</td>
        <td>
          <button type="button" class="btn btn-default btn-sm" ng-click="remove(book)">
            <span class="glyphicon glyphicon-minus"></span> Remove
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div id="search-book" ng-show="search">
    <h2>Search a book</h2>
    <input type="text" ng-model="q"/>
    <button type="button" class="btn btn-default btn-sm" ng-click="submitSearch()">Search</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>

    <div ng-show="availableBooks">
      <table class="table table-condensed">
        <thead>
          <th>Title</th>
          <th>Author</th>
          <th>Published</th>
          <th></th>
        </thead>
        <tr ng-repeat="book in availableBooks" ng-class="{'info': book.owned}">
          <td>{{book.item.volumeInfo.title}}</td>
          <td>{{book.item.volumeInfo.authors.join(', ')}}</td>
          <td>{{book.item.volumeInfo.publishedDate}}</td>
          <td><button type="button" class="btn btn-default btn-sm" ng-click="add(book)" ng-hide="book.owned">Add to library</button></td>
        </tr>
      </table>

      <button type="button" class="btn btn-default btn-sm" ng-click="previousPage()" ng-show"page !== 1">Previous</button>
      <span>{{page}}</span>
      <button type="button" class="btn btn-default btn-sm" ng-click="nextPage()">Next</button>
    </div>
  </div>
</div>